body {
  background-color:#000000;
  color: white;
  font-size: 26px;
}

h3 {
  font-size: 30px;
}

table {
  vertical-align: middle;
  text-align: center;
  border-spacing: 10px;
}

td.outer {

  padding: 20px;
  width: 240px;
  height: 240px;
}

td.inner {
  width: 220;
  height: 220px;
}

a:link {
  color: #ffffff;
  text-decoration: none;
  font-size: 26px;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #298aad;
  text-decoration: none;
}
a.on:hover {
  color: #00ff00;
  text-decoration: none;
}
a.off:hover {
  color: #ff0000;
  text-decoration: none;
}
a:active {
  color: #ffffff; i
  text-decoration: none;
}

/* Android HDPI */
@media only screen and (-webkit-device-pixel-ratio:1.5) {
}

