body {
  background-color:#000000;
  color: white;
  font-size: 20px;
}

h3 {
  font-size: 24px;
}

table {
  vertical-align: middle;
  text-align: center;
  border-spacing: 10px;
}

td.outer {

  padding: 5px;
  width: 200px;
  height: 200px;
}

td.inner {
  width: 180;
  height: 180px;
}

p {
  width: 480px;
  text-align: center;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
a.bold:link {
  color: #00ff00;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a.bold:visited {
  color: #00ff00;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #298aad;
  text-decoration: none;
}
a.on:hover {
  color: #00ff00;
  text-decoration: none;
}
a.off:hover {
  color: #ff0000;
  text-decoration: none;
}
a:active {
  color: #ffffff;
  text-decoration: none;
}

/* Android HDPI */
@media only screen and (-webkit-device-pixel-ratio:1.5) {
}

